.border1 {
  border: 1px solid red;
}
.border2 {
  border: 1px solid green;
}
.border3 {
  border: 1px solid black;
}
.content-item {
  max-width: 210px !important;
}
.todo-item{
  min-height:32px !important;
}
.whitedot-container {
  height: 100% !important;
  width: 14px !important;
}
.xy-center {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.todolist-container {
  max-width: 600px;
  max-height: 500px;
  background-color: #4158d0;
  background-image: linear-gradient(
    43deg,
    #4158d0 0%,
    #c850c0 46%,
    #ffcc70 100%
  );
}
.enter-btn:hover {
  background-image: linear-gradient(
    43deg,
    #4158d0 0%,
    #c850c0 46%,
    #ffcc70 100%
  );
}
.first-input-ui {
  transition: margin 0.4s ease;
}
